<body>
	<ul class = "navbar">
			<li class="nav-li", "addresses"><a href="/addresses">Contacts</a></li>
			<li class="nav-li", "tasklists"><a href="/tasklists">To-Do List</a></li>
			<li class="nav-li", "newaddress"><a href="/addresses/new">Add Contact</a></li>
			<li class="nav-li", "newtasklist"><a href="/tasklists/new">Add Task</a><li>
			<% if user_signed_in? %>
			<li class = "nav-li", "logout"><%= link_to('Logout', destroy_user_session_path,:method => :delete) %></li>
			<% else %>
			<li class="nav-li", "logout"><%= link_to('Login', new_user_session_path) %></li>
			<% end %>
		</ul>
	<br>
	<div class = "left">
		<table>
			<tr class = "top-row">
				<td>Task</td>
				<td>Finish By...</td>
			</tr>
			<% @tasklists.each do |tasklist| %>
			<tr>
				<td><%= tasklist.title %></td>
				<td><%= tasklist.duedate %></td>
				<td><%= link_to "View Task", tasklist_path(tasklist.id) %></td>
				<td><%= link_to "Edit Task", edit_tasklist_path(tasklist.id) %> </td>
				<td><%= button_to "Remove Task", tasklist, method: :delete %></td>
			</tr>
			<% end %>
		</table>
	</div>
</body>