<!DOCTYPE html>
<html>
<head><link rel="stylesheet" type="text/css" href="../assets/addresses.css.scss"></head>
<body>
	<ul class = "navbar">
		<li class="nav-li"><a href="/addresses">Contacts</a></li>
		<li class="nav-li"><a href="/tasklists">To-Do List</a></li>
		<li class="nav-li"><a href="/addresses/new">Add Contact</a></li>
		<li class="nav-li"><a href="/tasklists/new">Add Task</a><li>
		<% if user_signed_in? %>
		<li class = "nav-li"><%= link_to('Logout', destroy_user_session_path,:method => :delete) %></li>
		<% else %>
		<li class="nav-li"><%= link_to('Login', new_user_session_path) %></li>
		<% end %>
	</ul>
	<br>
	<div>
		<table>
			<tr class="top-row">
				<td>Name</td>
				<td>Address</td>
				<td>Phone</td>
			</tr>
			<% @addresses.each do |address| %>
			<tr>
				<td><%= address.friend %></td>
				<td><%= address.number %> <%= address.street %><br><%= address.city %>, <%= address.state %><br><%= address.zip %></td>
				<td><%= address.phone %>
				<td><%= link_to "View Contact", address_path(address.id) %></td>
				<td><%= link_to "Edit Contact Info", edit_address_path(address.id) %></td>
				<td class = "button"><%= button_to "Delete Contact", address, method: :delete %></td>
			<% end %>
		</table>
	</div>
</body>
</html>