<!DOCTYPE html>
<html>
<head><link rel="stylesheet" type="text/css" href="../assets/addresses.css.scss"></head>
<body>
	<table>
		<tr>
			<td>house number</td>
			<td>street name</td>
			<td>city</td>
			<td>state</td>
			<td>zip</td>
		</tr>
		<% @addresses.each do |address| %>
		<tr>
			<td><%= address.number %></td>
			<td><%= address.street %></td>
			<td><%= address.city %></td>
			<td><%= address.state %></td>
			<td><%= address.zip %></td>
			<td><%= link_to "show address", address_path(address.id) %></td>
			<td><%= link_to "edit address", edit_address_path(address.id) %></td>
			<td><%= button_to "destroy address", address, method: :delete %></td>
		<% end %>
	</table>
</body>
</html>