<!DOCTYPE html>
<html>
<body>
	<%= form_for(@address) do |f| %>
		<div class="field">
			<p>house number:</p>
			<%= f.text_field :number%>
		</div>
		<div class="field">
			<p>street name:</p>
			<%= f.text_field :street%>
		</div>
		<div class="field">
			<p>city:</p>
			<%= f.text_field :city%>
		</div>
		<div class="field">
			<p>state:</p>
			<%= f.text_field :state%>
		</div>
		<div class="field">
			<p>zip code:</p>
			<%= f.text_field :zip%>
		</div>
		<div class="actions">
			<%= f.submit %>
		</div>
	<% end %>
</body>
</html>