<!DOCTYPE html>
<html>
<head><link rel="stylesheet" type="text/css" href="../assets/addresses.css.scss"></head>
<body>
	<div>
		<h2><%= @address.number %> <%= @address.street %></h2>
		<h3><%= @address.city %>,<%= @address.state %></h3>
		<h4><%= @address.zip %></h4>
	</div>
</body>
</html>