<!DOCTYPE html>
<html>
<head><link rel="stylesheet" type="text/css" href="../assets/addresses.css.scss"></head>
<body>
	<% if user_signed_in? %>
		<ul class = "navbar">
			<li class="nav-li"><a href="/addresses">Contacts</a></li>
			<li class="nav-li"><a href="/tasklists">To-Do List</a></li>
			<li class="nav-li"><a href="/addresses/new">Add Contact</a></li>
			<li class="nav-li"><a href="/tasklists/new">Add Task</a><li>
			<% if user_signed_in? %>
			<li class = "nav-li"><%= link_to('Logout', destroy_user_session_path,:method => :delete) %></li>
			<% else %>
			<li class="nav-li"><%= link_to('Login', new_user_session_path) %></li>
			<% end %>
		</ul>
	<% end %>
	<div class="center">
		<h1><%= @address.friend %></h1>
		<h2><%= @address.number %> <%= @address.street %></h2>
		<h3><%= @address.city %>,<%= @address.state %></h3>
		<h4><%= @address.zip %></h4>
		<h2><%= @address.phone %></h2>
	</div>
</body>
</html>